/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
		background-color:black;
	
}


#container {
	background-color: rgba(255,36,36,0.4);
    margin:3em;
    border:1px solid black;
    padding:1em;
    object-position: center;
    color:white;
}

#navbar a{
    
    list-style-type:none;
    padding-left:0px;
    overflow: hidden;
    margin:10px;
    float:left;
    color: #437542;
    background-color:#9ebab2;
    border-radius: 10px;
}
ul{
    list-style-type:none;
    margin: 10;
    padding-bottom: 50px;
}

li{
    float:left;
    border-right: 10px solid transparent;
        list-style-type:none;
    margin: 10;
    padding-bottom: 10px;
        list-style-type:none;
    padding-left:3pxpx;
    overflow: hidden;
    margin:10px;
    float:left;
    color: #437542;
    background-color:rgb(255,255,255);
    border-radius: 10px;
}









/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	
	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	
	
	
} /* closes 1024px+ */



