/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

#top{
    
    margin:1em;
    border:1px;
    padding:1em;
    object-position: center;
    color:#ffffff;
    border-radius:30px 30px 0px 0px;
    text-align:center;

    
}


body { background-image:linear-gradient(to right,#42cef5,#0055ff); }

#container {
    margin:1em;
    border:1px;
    padding:1em;
    object-position: center;
    background-color: rgba(201,219,252,0.5);
    color:#001c54;
    border-radius:30px 30px 0px 0px;
    height:57em;
    text-align: center;
            }



#navbar a{
    list-style-type:none;
    padding-left:0px;
    overflow: hidden;
    margin:10px;
    float:left;
    color: #437542;
    background-color:#9ebab2;
    border-radius: 10px;
}

ul{
    list-style-type:none;
    margin: 10;
    padding-bottom: 50px;
  }

a:link{
    float:inherit;
    border: 4px solid transparent;
        list-style-type:none;
    margin: 1px;
    padding-bottom: 0px;
        list-style-type:none;
    overflow: hidden;
    margin:10px;
    float:left;
    color:#0080ff;
    background-color:rgb(255,255,255);
    border-radius: 10px;
    text-decoration:none;
    border-style:;
    
     font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    font-size:10px;
    
  }

a:visited{
    
    background-color:#17114f;
    color:#5e55c2;
}

a:hover{
    
    background-color:#abcdff;
    color:#0a007a;
    transition:2s;
}

a:active{
    
    background-color: #05f7ff;
    color:#3125b0;
}

h1 {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
    font-size: 55px;
    text-shadow: 1px 1px 5px #a6d7ff;
}

h2 {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size:30px;
}

h3, h4{

    font-size:25px;
    
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	
	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	
	
	
} /* closes 1024px+ */



